<form method="POST">
	<input name="text">
	<input type="submit">
</form>

<body>
<br>
This program generates all possible heaters connections for given power and
length in ft.<br>
<br>
<br>
Usage:<br>
Enter the required Wattage and length separated by space and click submit.<br>
<br>
eg: 35 1<br>
For a 1 ft 35 watt heater<br>
<br>
<br>
Note:<br>
Length of the heater should be provided in ft.<br>
Default factor of safety is 1.5<br>
Default tolerance is 0.5 ft<br>
<br>
<br>
For changing factor of safety and tolerence use -f and -tol flags.<br>
<br>
eg: 35 1 -f 2 -tol 0.25<br>
For factor of safety 2 and tolerence 0.25ft<br>

